# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- Name commonly used libraries used by data scientists
- List tools used in data science

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

| *Data Science Tools:* |
|----|
| R studio |
| Jupyter |
| Visual Studio |

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
x = 200/60
print(x)

3.3333333333333335

## Author
Tumuhimbise Peninah